@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
main {
  margin-left: 250px;
  margin-top: 72px;
  padding-left: 15%;
  padding-right: 15%;
  transition: all .5s;
}
body {
  margin: 0;
}
html {
  font-family: 'Ubuntu';
}
h3 {
  color: #252525;
}
p {
  color: #404040;
}
a {
  text-decoration: none;
  transition: all .2s;
}
a:hover {
  text-decoration: underline;
}



.top_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #252525;
  color: white;
}
.top_bar a {
  color: white;
}
.sidebar {
  margin: 0;
  position: fixed;
  top: 50px;
  width: 200px;
  height: 100%;
  background-color: #f6f6f6;
  left: 0;
  padding-left: 25px;
  padding-right: 25px;
  transition: all .5s;
}
.sidebar a {
  display: block;
  color: #252525;
}
.sidebar li {
  list-style-type: square;
}
.sidebar_content {
  transition: all .5s;
}
.h1_hr {
  border: solid .8px #252525;
  background-color: #252525;
}
.h3_hr {
  border: solid .2px #909090;
  background-color: #909090;
}